<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">Authenticate Via Twitch</a>
      {% endif %}
    </header>
    
    <hr>

    <main id="content" role="main">
      <div class="wrapper">
        <div class="feature-wrapper">
          <div class="feature-box">
            <object class="feature-icon" data="{{ '/assets/images/check-box.svg' }}">
              Your browser doesn't support SVG.
            </object>
            <h4>Feature 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis dolor ipsum.</p>
          </div>

          <div class="feature-box">
            <object class="feature-icon" data="{{ '/assets/images/clock.svg' }}">
              Your browser doesn't support SVG.
            </object>
            <h4>Feature 2</h4>
            <p>Integer tempus vulputate quam, et ultricies odio. Quisque suscipit consequat est.</p>
          </div>

          <div class="feature-box">
            <object class="feature-icon" data="{{ '/assets/images/settings-cogwheel-button.svg' }}">
              Your browser doesn't support SVG.
            </object>
            <h4>Feature 3</h4>
            <p>Duis semper pulvinar auctor. In vehicula magna sagittis, elementum diam eu, porttitor lorem.</p>
          </div>

          <div class="feature-box">
            <object class="feature-icon" data="{{ '/assets/images/show-apps-button.svg' }}">
              Your browser doesn't support SVG.
            </object>
            <h4>Feature 4</h4>
            <p>Sed mauris nunc, semper eu auctor vel, consequat vitae ligula. Integer aliquet sodales enim, ut ornare lacus.</p>
          </div>
          
          <div class="feature-box">
            <object class="feature-icon" data="{{ '/assets/images/graduate-cap.svg' }}">
              Your browser doesn't support SVG.
            </object>
            <h4>Feature 5</h4>
            <p>Sed mauris nunc, semper eu auctor vel, consequat vitae ligula. Integer aliquet sodales enim, ut ornare lacus.</p>
          </div>
          
          <div class="feature-box">
            <object class="feature-icon" data="{{ '/assets/images/shopping-cart.svg' }}">
              Your browser doesn't support SVG.
            </object>
            <h4>Feature 6</h4>
            <p>Sed mauris nunc, semper eu auctor vel, consequat vitae ligula. Integer aliquet sodales enim, ut ornare lacus.</p>
          </div>
        </div>
      </div>
      <div class="main-content">
        <footer class="site-footer">
          <p>Developed by <a href="https://www.twitch.tv/0xqrey">0xQREY</a></p>
        </footer>
      </div>
    </main>
  </body>
</html>
